server:
  port: 8081

spring:
  application:
    name: inventory-command-service
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

axon:
  axonserver:
    servers: localhost:8124

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/