server:
  port: 8085

spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:mysql://localhost:3306/analytics_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: analytics-streams
      properties:
        default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
        default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/